/* Body */
body {
    background-color: #ffc0cb;
    font-family: Arial;
}

/* Header */
header {
    background-color: #ff69b4;
    color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 36px;
}

/* Profile section */
#profile {
    background-color: white;
    text-align: center;
}

#profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


/* About section */
#about {
    background-color: #ffe4e1;
}

#about h2 {
    color: #ff1493;
    font-size: 28px;
}

/* Skills section */
#skills {
    background-color: white;
    text-align: center;
}

#skills h2 {
    color: #ff1493;
    font-size: 28px;
}

#skills li {
    background-color: #ff69b4;
    color: white;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #ff69b4;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}